.button {
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 55px;

    &:before {
      display: block;
      position: absolute;
      right: -45px;
      content: '';
      height: 15px;
      width: 35px;
      background-color: $pastel-gray;
      border-radius: 20px;
    }

    &:after {
      display: block;
      position: absolute;
      right: -25px;
      content: '';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $eton-green;
      transition: right 300ms, background-color 300ms;
    }

    &--active:after {
      right: -50px;
      background-color: $emerald-green;
    }
  }
}
