.das-recipes {
  &__w {
    padding: 10px;
    border-radius: 6px;
    background-color: white;
  }

  &__heading {
    &-w {
      display: flex;
      justify-content: space-between;
    }
    &-text {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__list-w {
    max-height: 600px;
    overflow: auto;
    padding: 0 5px;
  }

  &__item {
    &-w {
      width: 100%;
      position: relative;
      margin: 20px 0;
      padding: 10px;
      box-shadow: 0px 0px 6px -1px $eton-green, inset 5px 0px 0px $eton-green;
    }

    &-favorite {
      height: 20px;
      width: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      color: gold;
    }

    &-name {
      font-weight: 500;
      margin-bottom: 15px;
    }

    &-details-w {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
    }

    &-cuisine,
    &-ingredient {
      background-color: $light-gray;
      padding: 2px 6px;
      border-radius: 6px;
    }

    &-prep {
      &-w {
        display: flex;
        align-items: center;
      }
    }

    &-bubble {
      font-weight: 500;
    }
  }

  &__prep-item {
    display: flex;
    margin-left: 3px;
    background-color: $light-gray;
    padding: 2px 6px;
    border-radius: 6px;

    &-time {
      font-weight: 500;
    }
  }

  &__pagination {
    &-w {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      cursor: pointer;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $eton-green;
      transition: background-color 300ms;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &--active {
        background-color: $emerald-green;
      }
    }
  }
}
