.app {
  &__w {
    position: relative;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    background-color: $light-gray;
  }

  &__body {
    padding: 15px 15px;

    @include desktop {
      margin-left: 95px;
    }
  }
}
