@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');
// Global Reset, keep at top level
@import './reset.scss';
@import './colors.scss';
@import './mediaQueries.scss';
@import './buttons.scss';

@import './app.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Roboto';
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
